<section class="max-w-screen-xl mx-auto p-6">
  <h2 class="text-3xl font-bold mb-8 text-center">Planes de Comida</h2>

  <div class="flex gap-4">
    <div class="mb-4">
      <label for="goalFilter" class="block text-sm font-medium text-gray-700">Filtrar por Categoría</label>
      <select id="goalFilter" [(ngModel)]="selectedCategory" (change)="filterByCategory()" class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
        <option value="">Todos</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="mb-4">
      <label for="goalFilter" class="block text-sm font-medium text-gray-700">Filtrar por Objetivo</label>
      <select id="goalFilter" [(ngModel)]="selectedGoal" (change)="filterByGoal()" class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
        <option value="">Todos</option>
        <option *ngFor="let goal of goals" [value]="goal">{{ goal }}</option>
      </select>
    </div>
    <div *ngIf="isNutricionist" class="mb-4 flex gap-3">
      <button (click)="filterByNutritionist()" class="mt-1 block w-full px-2 bg-emerald-800 cursor-pointer text-white rounded-md">
        Mostrar Mis Planes
      </button>
      <button (click)="resetFilters()" class="mt-1 block w-full px-2 bg-gray-500 cursor-pointer text-white rounded-md">
        Mostrar Todos los Planes
      </button>
      <button (click)="goToCreateMealPlan()" class="mt-1 block w-full px-2 bg-emerald-800 cursor-pointer text-white rounded-md">
        Crear Nuevo Plan
      </button>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <app-meal-item  *ngFor="let plan of filteredMealPlans" [plan]="plan"></app-meal-item>
  </div>
</section>
