<aside class="sidebar">
  <nav class="sidebar-nav">
    <a routerLink="/dashboard" class="nav-item">
      <mat-icon class="nav-icon">dashboard</mat-icon>
      <span class="nav-text">Dashboard</span>
    </a>
    <a routerLink="/meal_plan" class="nav-item">
      <mat-icon class="nav-icon">restaurant_menu</mat-icon>
      <span class="nav-text">Plan de Comidas</span>
    </a>
    <a routerLink="/recipe/recipe-list" class="nav-item">
      <mat-icon class="nav-icon">book</mat-icon>
      <span class="nav-text">Recetas</span>
    </a>
    <a routerLink="/recipe/favorite-recipe" class="nav-item">
      <mat-icon class="nav-icon">favorite</mat-icon>
      <span class="nav-text">Favoritos</span>
    </a>
    <a routerLink="/profile" class="nav-item">
      <mat-icon class="nav-icon">person</mat-icon>
      <span class="nav-text">Perfil</span>
    </a>
  </nav>
</aside>
