<aside class="bg-gray-100 h-full w-60 py-6 px-4 shadow-md">
  <nav class="flex flex-col gap-4 text-gray-700">
    <a routerLink="/dashboard" class="hover:text-indigo-600 flex items-center gap-2">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a routerLink="/meal_plan" class="hover:text-indigo-600 flex items-center gap-2">
      <mat-icon>restaurant_menu</mat-icon> Plan de Comidas
    </a>
    <a routerLink="/history" class="hover:text-indigo-600 flex items-center gap-2">
      <mat-icon>history</mat-icon> Historial
    </a>
    <a routerLink="/recipe/favorite-recipe" class="hover:text-indigo-600 flex items-center gap-2">
      <mat-icon>favorite</mat-icon> Favoritos
    </a>
    <a routerLink="/profile" class="hover:text-indigo-600 flex items-center gap-2">
      <mat-icon>person</mat-icon> Perfil
    </a>
  </nav>
</aside>
