/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* Personalizar el color del caret y el indicador de enfoque activo */
.mat-form-field-appearance-fill .mat-form-field-flex {
  caret-color: orange; /* Color del caret */
}

.mat-form-field-appearance-fill.mat-focused .mat-form-field-ripple {
  background-color: red; /* Color del indicador de enfoque activo */
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-10px); }
  10%, 90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}
.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}
